{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h2>Your stocks</h2>
    <table>
        <thead>
            <tr>
                <th>Company</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Outcome</th>
            </tr>
        </thead>
        <tbody>
        {% set stockVal = namespace(value=0) %}
        {% for stock in stocks %}
            {% set stockVal.value = stock["price"] * stock["shares"] %}    
            <tr>
                <td>{{ stock["symbol"] }}</td>
                {% if stock["price"] > 0 %}
                    <td>-{{ stock["shares"] }}</td>
                    <td>${{'%0.2f' % stock["price"]|float|abs }}</td>
                    <td style="color:green">+${{'%0.2f' % stockVal.value|float}}</td>
                {% else %}
                    <td>+{{ stock["shares"] }}</td>
                    <td>${{'%0.2f' % stock["price"]|float|abs }}</td>
                    <td style="color:red">-${{'%0.2f' % stockVal.value|float|abs}}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}